<!DOCTYPE html>
<html lang="en">
<head>
<title>auth manage</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/matrix-style.css" />
<link rel="stylesheet" href="/css/matrix-media.css" />
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

<link rel="stylesheet" href="/css/uniform.css" />
<link rel="stylesheet" href="/css/select2.css" />
<style type="text/css">
.h1a{font-size:16px; margin-right: 50px;}
</style>
</head>
<body>
<div id="header">
  
</div>
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" >
      <a href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
	    <i class="icon icon-user"></i>
	    <span class="text"> ${user.name}</span><b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> 我的资料</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> 我的任务</a></li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="icon-key"></i> 退出登录</a></li>
      </ul>
    </li>
    <li class=""><a href="#"><i class="icon icon-cog"></i> <span class="text">安全设置</span></a></li>
    <li class=""><a href="/logout"><i class="icon icon-share-alt"></i> <span class="text">退出登录</span></a></li>
  </ul>
</div>
<div id="search">
  
</div>
<div id="sidebar">
  <ul>
  <#list authes as auth>
    <li><a href="${auth.menu}"><i class="icon ${auth.style!}"></i> <span>${auth.name}</span></a></li>
  </#list>
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" class="tip-bottom"><i class="icon-home"></i> Home</a><a href="#" class="current">权限管理</a> </div>
    <h1>权限管理<a href="#" class="fr h1a"><i class="icon-plus"></i> <span>添加一个</span></a></h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12" style="min-height: 470px;">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>名称</th>
                  <th>级别</th>
                  <th>菜单</th>
                  <th>类型</th>
                  <th>样式</th>
                </tr>
              </thead>
              <tbody>
              <#list authes as auth>
                <tr class="gradeX">
                  <td><input type="checkbox" /></td>
                  <td>${auth.name}</td>
                  <td><#if auth.parentId==0>一级菜单<#else>二级菜单</#if></td>
                  <td>${auth.menu}</td>
                  <td><#if auth.type=='all'>全部<#elseif auth.type=='read'>只读<#else>只写</#if></td>
                  <td>${auth.style}</td>
                </tr>
               </#list>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="footer" class="span12"> &copy; copyright </div>
</div>
<script src="/js/jquery.min.js"></script> 
<script src="/js/jquery.ui.custom.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.uniform.js"></script> 
<script src="/js/select2.min.js"></script> 
<script src="/js/jquery.dataTables.min.js"></script> 
<script src="/js/matrix.js"></script> 
<script src="/js/matrix.tables.js"></script>
</body>
</html>
