<#include "/common/top.html" />

<#include "/common/left.html" />

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" class="tip-bottom"><i class="icon-home"></i> Home</a><a href="#" class="current">文章管理</a> </div>
    <h1>文章管理<a href="/articleManage/toAdd" class="fr h1a"><i class="icon-plus"></i> <span>添加一个</span></a></h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12" style="min-height: 470px;">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<#include "/common/bottom.html" />